<br>
<br>
<br>
<br>
<br>
<div class="container">
  <h2 class="my-4"> Fishing Articles </h2>
  <div class="row">
    <% @fishings.each do |a| %>
    <div class="col-sm-3 mb-4">
      <div class="card border-dark">
      <%= image_tag( "default_img.jpg", alt: "default_image", class: "card-img-top") -%> 
        <div class="card-body ">
          <h4 class="card-title"><%=a.title%></h4>
          <p class="card-text"><%= a.text %></p>
          <%make_vote(a.id)%>
          <%=@vote%>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>